.gridItem {
    text-align: center;
    ul {
        padding: 0px;
        li {
            list-style-type: none;
        }
    }
}

.grid-item-img {
    aspect-ratio: 3 / 2;
}

.create-item-button-wrapper .square-grid-item {
    background: #DDFFDD;
    box-sizing: border-box;
    text-align: center;
    font-size: 100px;
}

.mid-form-input {
    align-content: center;
    align-items: center;
    text-align: center;
    input {
        width: fit-content;
    }
}

.check-box-list-item {
    width:auto;
    display:flex;

    input {
        width: auto;
        margin: 5px;
    }
}

.update-item-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .update-item-button:hover {
        background-color: #45a049;
        transform: scale(1.05);
    }