.clickable-list-item {
    align-content: center;
    background: #DDCCCC;
    border: 1px solid #999999AA;
    border-collapse: collapse;
    border-radius: 8px;
    color: #444444;
    height: 50px;
    text-align: center;
    width: 100%;
}

.clickable-list-item:hover {
    background: #BBAAAACC;
}

.create-button-wrapper .clickable-list-item {
    background: #DDFFDD;
}

.create-button-wrapper .clickable-list-item:hover {
    background: #BBDDBBCC;
}
