.selector-container {
    .wider-select {
        text-align: center;
        width: 80%;
    }
}

.selection-display-box {
    margin: auto;
    background: #2b2a33;
    width: 100%;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #fbfbfe;
    text-align: center;
    padding: 10px;

    
}
